<!DOCTYPE html>
<html>


<table align="center" cellpadding="0" cellspacing="0" width="100%">
<tbody>
<tr>
	
<td>

<table align="center" cellpadding="0" cellspacing="0" width="880">
<tbody>
<tr>
	
<td width="30">&nbsp;</td>
	
<td background="http://74.220.207.165/~rationb4/wp-content/uploads/2011/12/content-bg.jpg" bgcolor="#7b7b7b" width="820">
		
		
		
<div>
			
			
<div>
				
<table align="center" cellpadding="0" cellspacing="0" width="820">
				
<tbody>
<tr>
					
<td align="center" width="820">
						<a href="http://www.rationalizeit.us/register"><img alt="" border="0" height="629" src="http://74.220.207.165/~rationb4/wp-content/uploads/2011/12/top.jpg" style="display:block" width="820"></a>
					</td>
				</tr>
				</tbody>
</table>
			</div>
			
			
			
			
			
		
<div style="background-image:url('');background-repeat:repeat repeat">
<table background="http://74.220.207.165/~rationb4/wp-content/uploads/2011/12/background-1.jpg" bgcolor="#617c90" cellpadding="0" cellspacing="0" width="820">
<tbody>
<tr>
	
<td width="29">&nbsp;</td>
	
<td align="left" valign="top" width="762">
		
<div style="font-size:16px;font-family:Lucida Grande">
<div style="text-align:center"><span style="font-family:Arial;font-size:30px"><b><font color="#ffc94d" face="">New Batch Starting On <%=@date%><br>
</font></b></span></div>
			</div>
	</td>
	
<td width="29">&nbsp;</td>
</tr>
</tbody>
</table>
</div>
<div style="background-image:url('');background-repeat:repeat repeat">
<table background="http://74.220.207.165/~rationb4/wp-content/uploads/2011/12/background-1.jpg" bgcolor="" cellpadding="0" cellspacing="0" width="820">
<tbody>
<tr>
	
<td width="22">&nbsp;</td>
	
<td align="left" valign="top" width="776">
		
<div style="font-size:16px;font-family:Lucida Grande"><font color="#d5d5d5" face=""><span style="line-height:24px"><font face="Helvetica">
<div><br>
</div>
<div>Hello <%=@name%>,</div>
<div><br>
</div>
<div>Thank you for your interest in Rationalize IT. Let's set up a time to discuss this in more detail over the phone.&nbsp;</div>
<div><br>
</div>
<div>In the meanwhile, I invite you to explore Rationalize IT. Please find a brochure on Rationalize IT <a href="http://docs.google.com/viewer?a=v&amp;pid=explorer&amp;chrome=true&amp;srcid=0ByPk4Or5MqviZjIyY2Q1MjktZDBjMS00YTdhLWFkZWUtZDEzZWMwZTEzMzAw&amp;hl=en">here</a>. If you would like to know more about the trainer, please visit my profile <a href="http://www.linkedin.com/in/faraaz">here</a>. To learn more about Rationalize IT, please take a look at our website <a href="http://www.rationalizeit.us">here</a>.&nbsp;</div>
<div><br>
</div>
<div>The content of the course and highlights can be found <a href="http://www.rationalizeit.us/business-analyst-training">here</a>. Apart from the topics shown, you will also work on Case Studies through the duration of the course, the objective is to have you write a requirements document of industry standard during the training.</div>
<div><br>
</div>
<div>To view a free recorded session of one of my trainings, please register&nbsp;<a href="http://www.rationalizeit.us/register">here</a>.</div>
<div><br>
</div>
<div>Note: Please skip the first 20 minutes of the video, that is just the students getting settled in. Haven't figured out how to edit webex videos yet :)</div>
<div><br>
</div>
</font></span><span style="font-family:Helvetica;line-height:24px">You will also receive a video recording of each session, all the material from the course and a ton of reading material, including live industry documents.&nbsp;</span><span style="font-family:Helvetica">
<div style="line-height:24px"><br>
</div>
<div style="line-height:24px"><span style="line-height:24px">Questions? Set up an appointment with a Business Analyst Advisor today to explore the exciting world of Business Analysis, ask about our Get Me Hired</span><span style="line-height:25px">™</span><span style="line-height:24px">&nbsp; program to find out how we can help you land a great job in a short of period of time.</span></div>
</span><span style="line-height:24px"><font face="Helvetica">
<div><br>
</div>
<div>Thanks!</div>
<div>Faraaz Khan</div>
<div>Rationalize IT, LLC</div>
<div>786.353.4584</div>
</font></span></font><span style="line-height:24px">
<div style="font-family:Helvetica">
<p style="margin:0px 0px 0px 0px;text-align:center;font:48.0px 'Gill Sans'"><br>
</p>
</div>
</span></div>
	</td>
	
<td width="22">&nbsp;</td>
</tr>
</tbody>
</table>
</div>
</div>
		
		
	</td>
	
<td width="30">&nbsp;</td>
</tr>
</tbody>
</table>

	</td>
</tr>
<tr>
	
<td height="30">&nbsp;</td>
</tr>
</tbody>
</table>

</html>
